@import url(https://db.onlinewebfonts.com/c/05289e866fe7e1e99d27a7a31f8d3b66?family=Trattatello);

* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */
.dropcap {
	font-size: 48px;
	font-family: 'fantasy', Trattatello;
}

h1 {
	color: aliceblue; 
	font-size: 24px;
}

body {
	background-color: #342e53;
	color:lightblue; 
	font-family: 'Times New Roman', Times, serif;
	transition: background 500ms ease;
}

p, li {
	font-size:  16px;
	line-height: 30px;
}

a {
	color:slateblue;
}

a:hover {
	color:dodgerblue
}

a:click {
	color:indigo
}
/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/