@font-face {
  font-family: "Brother-Signature";
  src: url("BrotherSignature-7BWnK.otf");
}



* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

body {
	font-family: 'Courier New', Monospace;
	background-color: beige;
	color: saddlebrown;
	transition: background 500ms ease;
}

body.dark {
	font-family: ‘Brother-Signature’, Times, "Times New Roman", Times, serif;
	background-color: #342e53;
	color: lightblue; 
}

/* adjusting fonts */
.dropcap {
	font-size: 48px;
	font-family: 'fantasy', Trattatello;
}

h1 {
	color: chocolate;
	font-size: 24px;
}

h1.dark {
	color: aliceblue; 
}


p, li {
	font-size:  16px;
	line-height: 30px;
}

a, a:visited {
  transition: all 500ms ease;
  color: darkcyan;
}

a.dark, a:visited.dark {
  color: slateblue;
}

a:hover {
  color: cornflowerblue;  
}

a:hover.dark {
  color: dogerblue;  
}

a:click {
	color: cadetblue;
}

a:click.dark {
	color: indigo
}
/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 50%;
	height: 300px;
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/